body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	background-color: #F7F6F4;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: 0;
	border-right-style: 0;
	border-bottom-style: 0;
	border-left-style: 0;
	background-image: url(images/background_files/background.png);
	color: #033;
}
.wrapper .content {
	background-color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}
.content {
	background-color: #99C;
	padding-right: 20px;
	padding-bottom: 20px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 16px;
	color: #06C;
	font-style: normal;
	font-weight: 300;
	text-transform: none;
	font-variant: normal;
}


.wrapper {
	padding: 5px;
	width: 950px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	color: #000000;
	background-color: #CECECE;
	line-height: normal;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}
.wrapper {
	background-color: #FFF;
}

.navigation div table {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
	font-style: normal;
	color: #000000;
	background-color: #669966;
	height: auto;
	width: auto;
	border: thick solid #000;
	margin: 10px;
	padding: 10px;
	line-height: normal;
	text-align: center;}
.image {
	padding-right: 20px;
	padding-bottom: 20px;
}
.image {
	padding-right: 20px;
	padding-bottom: 20px;
}
.image {
	padding-right: 20px;
	padding-bottom: 20px;
}
.image {
	padding-right: 20px;
	padding-bottom: 20px;
}
